@media (max-width: 600px) {
  .facet_sidebar {
    display: none;
  }
  #logo{
    padding-top: 80px;
    padding-bottom: 50px;
    max-width: 150px;
  }
  body{
    background: #fff;
    padding: 0px;
    margin: 0px;
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
  }
  input, button{
    font-family: 'Nunito', sans-serif;
    font-weight: 700px;
  }
  .main-div .loggedin-div{
    width: 20%;
    margin: 0px auto;
    margin-top: 150px;
    padding: 20px;
    display: none;
  }
  .main-div input{
    display: block;
    border: 1px splid #ccc;
    border-radius: 5px;
    background: #fff;
    padding: 15px;
    outline: none;
    width: 100%;
    margin-bottom: 20px;
    
  }
  
  .main-div input:focus{
    border: 1px solid #777;
    
  }
  
  #logo-titulo{
    position: center;
  }
  .btnG{
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: red;
    color: #fff;
    border: 0px;
    border-radius: 5px;
    display: inline block;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
  }
  .btnF{
    margin-top: 20px;
    margin-bottom: 20px;
    background: #5d8ffc;
    color: #fff;
    border: 0px;
    border-radius: 5px;
    display: inline block;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
  }
  .btnL{
    background: #777;
    color: #fff;
    border: 0px;
    border-radius: 5px;
    padding: 15px;
    display: inline block;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
  }
  #btn-signup{
    background: #777;
    color: #fff;
    border: 0px;
    border-radius: 5px;
    padding: 15px;
    display: inline block;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
  }
  body{
    margin-top:20px;
    background-color:whitesmoke;   
  }
  a {
    color: #f96332;
  }
  .card-inner{
    margin-left: 4rem;
  }
  a{
    color:blue;
  }
  #posts{
    background-color: gray;
    color: white;
    
  }
  
  img {
    width: 100%;
  }
  
  #botonVega{
    background-color: #777;
    color:white;
    width: 200px;
    height: 100px;
  }
  #botonVege{
    background-color: #777;
    color:white;
    width: 200px;
    height: 100px;
  }
  
}